/* GENERAL STYLES */
* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: black;
}

header div button span {
    padding-right: 5px;
}

/* UTILITIES */
.header-buttons {
    text-align: right;
    padding: 10px 5px;
}

.gradient-btn {
    background: linear-gradient(#3B3B3B, #1A2320);
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
    border: none;
}

.main-container {
    width: 70%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.card-container {
    height: 150px;
    width: 268px;
    overflow: hidden;
    position: relative;
}

.card-container img {
    object-fit: cover;
    max-width: 100%;
}

.participants {
    position: absolute;
    top: 121px;
    background-color: rgba(27, 27, 27, 0.61);
    color: white;
    padding: 5px;
}